/* .search__container {
  position: absolute;
  top: 45%;
  right: 50%;
  transform: translate(50%, 50%);
} */

.input-control {
  min-width: 20rem;
}

.search-button {
  background: #bd1f1f;
  border: none;
}

.search-icon {
  color: white;
}
