.nav-bar {
  background: #d32323;
  padding: 1rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 92px;
  margin-top: -10px;
  margin-right: 1rem;
}

.nav-button {
  margin-left: 1rem;
  margin-top: -10px;
}
